
$black: #111111;
$background-white: #FAFAFA;
$dark-blue:#0064BF;
$light-blue: #0086FF;
$light-grey: #E6E8EB;

*, *::before, *::after {
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #111111;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Overpass', sans-serif;
}

.col-md-3 {
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
    }
}

#content {
    width: inherit;
    height: inherit;
    background-color: $background-white;
}

.white-background {
    background-color: $background-white;
}

.full-height {
  height: 100%;
}

.row {
  margin: 0;
}

.link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &__hover {
        padding: 8px 0;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background-color: #F2AA51;
          transition: width .3s;   
          margin-top: 9px; 
        }
        &:hover::after {
            width: 100%;
        }   
      }
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 27px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 788;
    &-logo-container {
        flex: 1;
        img {
            max-width: 117px;
        }
    }
    &-menu {
      flex: 4;
      font-size: .6rem;
      text-align: left;
      display: flex;
      justify-content: flex-end;
      ul {
          margin: 0;
          li {
            display: inline-block;
            &:not(:last-child) {
              margin-right: 36px;
            }
            a {
                font-family: Overpass;
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 2.25px;
                line-height: 22px;
                text-align: center;
                color: #707070;
            }
          }
      }
    }
}

#mobile-icon {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 40px;
    position: relative;
    margin-top: 34.4px;
    padding: 0 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        margin: 0 auto;
        height: 2px;
        width: 17px;
        background: #989898;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;    
        &:nth-child(1) {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 10px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                margin-top: 0;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                margin-top: -2px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);                
            }
        }
    }
  }

  .mobile-drawer {
    display: none;
    z-index: 9999;
    position: fixed;
    width: auto;
    text-align: left;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(221.59px);
    transition: transform 0.5s ease-in-out;
    &-menu {
        padding: 42px 30px;
        background-color: #B1B1B1;
        li:not(:last-child) {
            margin-bottom: 27.2px;
        }
        li {
          opacity: 0;
          transition: opacity 0.8s ease-in-out;
          transition-delay: 0.3s;
        }
        a {
            font-family: Overpass;
            font-size: 18px;
            font-weight: 900;
            letter-spacing: 2.25px;
            line-height: 22px;
            color: #4A4A4A;
        }
    }
    &__slide {
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
    }
    &__fade {
        opacity: 1 !important;
        transition: opacity 0.8s ease-in-out;
        transition-delay: 0.3s;
    }
  }

.section {
    min-height: 300px;
    text-align: center;
    &-wrapper {
      max-width: 1110px;
      margin: 0 auto;
    }
    &-separator {
        height: 1px;
        width: 100%;
        background-color: #979797;
    }
    &-row-max-height {
        max-height: 600px;
    }
    &-md-title {
        	
        font-family: Overpass;	
        font-size: 24px;	
        font-weight: 900;	
        letter-spacing: 3.83px;	
        line-height: 37px;
        &__white {
          color: #FFFFFF;
        }
    }
    &-sm-title {
        font-family: Overpass;	
        font-size: 18px;	
        font-weight: 900;	
        letter-spacing: 3.83px;	
        line-height: 28px;	
        text-align: center;
    }
    &-md-copy {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0.02px;
        line-height: 18px;
    }
    &-copy-container {
        margin: 0 auto;
        max-width: 882px;
        padding-left: 30px;
        padding-right: 30px;
    }
    &-title {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 3.83px;
      line-height: 37px;
      text-align: center;
      margin-bottom: 20px;
    }
    &-subtitle {
        font-size: 18px;	
        font-weight: 900;	
        letter-spacing: 3.83px;	
        line-height: 28px;	
        text-align: center;
    }
    &-copy {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.03px;
      line-height: 21px;
      text-align: center;
    }
    &-splash {
        min-height: 150px;
        margin-top: 110.203px;
        &-img {
            display: block;
            width: 100%;
        }
    }
    &-overview {
        text-align: center;
        color:#FFFFFF;
        background-color: #AF1F2E;
    }
    &-goals {
        &-img {
          padding: 0;
          background-image: url(../images/aboutImage1.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          min-height: 400px;
        }
        &-img2 {
          padding: 0;
          background-image: url(../images/aboutImage2.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          min-height: 400px;
        }
        &-right-panel {
            background-color: #BF4A57;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 14px;
            letter-spacing: 0.02px;
            line-height: 18px;
            padding: 96px 40px 96px 40px;
        }
        &-left-panel {
            background-color: #F3AB47;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 14px;
            letter-spacing: 0.02px;
            line-height: 18px;
            padding: 96px 40px 96px 40px;
        }
        &-copy-wrapper {
          max-width: 650px;
          margin: 0 auto;
        }
    }
    &-plan {
        background-color: #62B9BB;
        color: #FFFFFF;
        text-align: center;
        padding: 50px 0;
        &-options-wrapper {
          margin: 25px auto;
        }
        &-box {
          margin: 0 auto;
          position: relative;
          background: #AF1F2E;
          color: white;
          width: 221px;
          height: 198px;
          padding: 35px 35px;
          .button {
              position: absolute;
              width: auto;
              padding: 8px 0;
              width: 148px;
              bottom: 20px;
          }
        }
    }
    &-illinois {
        background-color: #D8D8D8;
        color: #000000;
        padding: 96px 40px;
        .row > div {
            margin-bottom: 61px;
        }
        &-stats-wrapper {
            margin: 0 auto;
            max-width: 259px;
            line-height: 80px;
        }
        &-stats-copy {
            color: #AF1F2E;
            text-align: center;
            font-size: 70px;
            font-weight: 900;
            font-family: Overpass;
        }
        &-stats-subcopy {
            color: #AF1F2E;
            text-align: center;
            font-size: 40px;
            font-weight: 900;
            font-family: Overpass;
        }
    }
    &-connect {
        color: #FFFFFF;
        text-align: center;
        .col-md-6 {
            padding: 52px 52px;
        }
        .button {
            margin: 40px auto;
        }
        .section-md-copy {
            margin-top: 40px;
        }
        &-volunteer {
            background-color: #F5AC3A;
        }
        &-mailing {
            background-color: #AF1F2E;
        }
        &-contact {
            background-color: #5DB9BC;
        }
        &-donate {
            background-color: #C14955;
        }
    }
    &-partners {
        padding-bottom: 57px;
        .row > div {
            padding: 57px 30px 0 30px;
        }
        p.section-copy {
            margin-top: 20px;
        }
        .img-fluid {
            display: block;
            margin: 0 auto;
        }
    }
    &-funders {
        padding-bottom: 162px;
        .row > div {
            padding: 57px 30px 0 30px;
        }
        p.section-copy {
            margin-top: 20px;
        }
        .img-fluid {
            display: block;
            margin: 0 auto;
        }
    }
    &-endorsements {
        background-color: #AF1F2E;
        color: #FFFFFF;
        padding: 57px 0;
        .row {
          line-height: 60px;
        }
        &-quote {
            color: #FFFFFF;
            font-size: 24px;	
            letter-spacing: 0.03px;	
            line-height: 29px;	
            text-align: center;
        }
    }
}

.button {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 15px 0;
    font-family: Overpass;	
    font-size: 10px;	
    font-weight: 900;	
    letter-spacing: 2.55px;	
    line-height: 16px;	
    text-align: center;
    background-color: transparent;
    &:focus {
        outline: 0;
    }
  &-black {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;	
  }
  &-white {
    margin: 0 auto;
    border: 1px solid #000000;
    color: #000000;
    font-size: 14px;
  }
  &-modal {
    border: 1px solid #707070;
    letter-spacing: 2.98px;	
    line-height: 22px;	
    text-align: center;
  }
}

.modal {
    z-index: 99999;
    color: #707070;	
    font-family: Overpass;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 4.85px;
    line-height: 28px;
    text-align: center;
    &-content {
        border: 0;
        border-radius: 0;
        min-height: 408px;
    }
    &-dialog {
        max-width: 608px;
    }
    &-input {
        font-family: Montserrat, sans-serif;
        width: 100%;
        max-width: 460px;
        background-color: #D8D8D8;
        border: none;
        padding: 16px;
        &:focus {
            outline-color: #F2AA51;
        }
        &:last-child {
            margin-top: 14px;
        }
    }
    &-title {
        max-width: 380px;
        margin: 0 auto;
        padding: 0 24px;
        h3 {
            font-weight: 900;
            letter-spacing: 4.85px;
            line-height: 28px;
            text-align: center;
        }
        small {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            letter-spacing: 0.02px;
            line-height: 17px;
            text-align: center;
        }
    }
    &-header {
        padding: 10px 10px 28px;
    }
    &-body {
        padding-bottom: 0;
    }
    &-footer {
        padding: 0;
    }
    &-success {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: calc(50% - 56px);
      opacity: 0;
      transition: opacity .4s ease-in-out;
      p {
        font-family: Montserrat;	
        font-size: 14px;	
        letter-spacing: 0.02px;	
        line-height: 17px;	
        text-align: center;
        margin-top: 23px;
      }
    }
    &-form-container {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
        transition-delay: 5ms;
    }
    &-fadein {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }
    &-fadeout {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
}

// general media queries

@media only screen and (max-width: 799px) {
  .mobile-drawer {
      display: flex;
  }

  .header-menu {
      display: none;
  }
}

@media only screen and (max-width: 767px) {
    .box-card {
        flex-basis: 50%;
    }
    .plan-card {
        flex-basis: 50%;   
    }
  .section {
      &-iconwrap {
        margin-bottom: 24px;
      }
      &-swap {
        div:first-child {
          order: 2;
        }
        div:nth-child(2) {
          order: 1;
        }
      }
      &-row-max-height {
        max-height: 100%;
      }
      &-goals {
        &-img2 {
          order: 1;
        }
        &-left-panel {
          order: 2;
        }
      }
      &-plan {
          &-box {
              margin-bottom: 25px;
          } 
      }
      &-copy-container, &-goals-right-panel, &-connect .col-md-6 {
          padding: 35px 30px;
      }
  }
}
@media only screen and (max-width: 503px) {
    .plan-card {
        flex-basis: 100%;
    }
    .section {
        &-splash {
            min-height: 0;
        }
    }
}