
$black: #111111;
$background-white: #FAFAFA;
$dark-blue:#0064BF;
$light-blue: #0086FF;
$light-grey: #E6E8EB;

*, *::before, *::after {
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #111111;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Overpass', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#content {
    width: inherit;
    height: inherit;
    background-color: $background-white;
}

.white-background {
    background-color: $background-white;
}

.full-height {
  height: 100%;
}

.row {
  margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 27px;
    background-color: #D8D8D8;
    &-logo-container {
        flex: 1;
        img {
            max-width: 117px;
        }
    }
    &-menu {
      flex: 4;
      font-size: .6rem;
      text-align: left;
      display: flex;
      justify-content: flex-end;
      ul {
          margin: 0;
          li {
            display: inline-block;
            &:not(:last-child) {
              margin-right: 36px;
            }
            a {
                font-family: Overpass;
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 2.25px;
                line-height: 22px;
                text-align: center;
                color: #707070;
            }
          }
      }
    }
}

#mobile-icon {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 40px;
    position: relative;
    margin-top: 34.4px;
    padding: 0 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        margin: 0 auto;
        height: 2px;
        width: 17px;
        background: black;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;    
        &:nth-child(1) {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 10px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                margin-top: 0;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                margin-top: -2px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);                
            }
        }
    }
  }

  .mobile-drawer {
    display: none;
    position: absolute;
    width: auto;
    text-align: left;
    top: 0;
    right: 0;
    height: 100vh;
    &-menu {
        padding: 42px 30px;
        background-color: #B1B1B1
    }
  }

.section {
    min-height: 350px;
    &-splash {
        &-img {
            width: 100%;
        }
    }
}

// general media queries

@media only screen and (max-width: 799px) {
  .mobile-drawer {
      display: flex;
  }

  .header-menu {
      display: none;
  }
}

@media only screen and (max-width: 767px) {
  .section {
      &-iconwrap {
        margin-bottom: 24px;
      }
      &-swap {
        div:first-child {
          order: 2;
        }
        div:nth-child(2) {
          order: 1;
        }
      }
  }
}